* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    
}

@media only screen and (min-width:1000px) {
    [class*="col-"] {
        width: 100%;
        float: left;
    }
    .col-1 {
        width: 8.33%; /*stranica je sirine 100% tj 12 kolona, pa je col-1 jednako 100% kroz 12 i to je 8.33%*/
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 { 
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

img {
    height: 400px;

}

.levo {
    position: static;
    margin-top: 20px;
    
}

.desno{
    margin-top: 20px;
}

.desno ul li{
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    margin-top: 3px;
    width: 70%;
}


nav {
    list-style-type: none;
    display: block;
}

nav ul li {
    width: 25%;
    background-color: bisque;
    float: left;
    text-align: center;
    height: 40px;
    display: block;
    
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    display: block;
  
}

nav ul li a:hover{
    
    background-color: brown;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#input {
    
    border: 2px solid lightgray;
    width: 70%;
    
}

#text  {
    border: 2px solid lightgray;
    width: 70%;
    
}

