body {
    margin: auto;
    width: 65%;
    text-align: center;
    background-color: bisque;
}

#ime {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul { list-style: none;
}

nav ul li {display: inline-block;
    width: 120px;
    height: 30px; 
    margin-right: 40px;
    font-size: 25px;
    
    }

    
nav ul li:hover { color: orange; cursor: pointer;}

.font1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: green;
}

#font2  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: purple;
}

#footer {
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;

}
