body {
    margin: auto;
    width: 65%;
    text-align: center;
    background-color: bisque;
}

#ime {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul { list-style: none;
}

nav ul li {display: inline-block;
    width: 120px;
    height: 30px; 
    margin-right: 40px;
    font-size: 25px;
    
    }


    
nav ul li:hover { cursor: pointer;}

#kafa {
    text-align: center;
    padding: 30px;
}

#kafa img {
    border-style:double;
    border-width: 5px;
    border-color: black;
    
}

#kafa p {
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
}

#kafa a:link {
    color: yellow;
}

#kafa a:visited {
    color: red;
}

#kafa a:hover{
    color: green;
}

.zelena {
    color: green;
    
}

#purple {
    color: purple;
    
}

#footer {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;

}

